<form #f="ngForm" name="form" ngNativeValidate>
  <div class="divHeadline">
    <h1 style="color:rgb(13, 102, 114);text-align: center; font-size: 8">Ticket price</h1>
  </div>
  <div class="divContainer">
    <div class="container">
      <div class="row" style="margin-top: 15px">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <form #f="ngForm" name="formTemporal" ngNativeValidate>
            <!-- TEMPORALLL -->
            <div class="panel price panel-red">
              <div class="panel-heading  text-center">
                <h3>Temporal</h3>
              </div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong> {{priceTemporal}} din</strong></p>
              </div>

              <div class="form-check" >
                <input type="radio" id="materialGroupExample1" (click)="onCheckedRegularTemporal()" checked name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample1">Regular</label>
              </div>
              
              <!-- Group of material radios - option 2 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample2" (click)="onCheckedStudentTemporal()" [disabled]="isDisabledStudent()" name="groupOfMaterialRadios" >
                <label style="margin-left: 30px" for="materialGroupExample2">Student</label>
              </div>
              
              <!-- Group of material radios - option 3 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample3" (click)="onCheckedPensionerTemporal()" [disabled]="isDisabledPensioner()" name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample3">Pensioner</label>
              </div>
              <div class="panel-footer" *ngIf="showButton">
                <a class="btn btn-lg btn-block btn-danger" (click)="buttonBuyTemporal()">BUY NOW!</a>
              </div>
            </div>
            <!-- /PRICE ITEM -->
          </form>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <form #f="ngForm" ngNativeValidate>
            <!-- DAILY -->
            <div class="panel price panel-blue">
              <div class="panel-heading arrow_box text-center">
                <h3>Daily</h3>
              </div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{priceDaily}} din </strong></p>
              </div>
              <div class="form-check">
                <input type="radio" id="materialGroupExample1" (click)="onCheckedRegularDaily()" checked name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample1">Regular</label>
              </div>
              
              <!-- Group of material radios - option 2 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample2" (click)="onCheckedStudentDaily()" [disabled]="isDisabledStudent()" name="groupOfMaterialRadios" >
                <label style="margin-left: 30px" for="materialGroupExample2">Student</label>
              </div>
              
              <!-- Group of material radios - option 3 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample3" (click)="onCheckedPensionerDaily()" [disabled]="isDisabledPensioner()" name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample3">Pensioner</label>
              </div>
              <div class="panel-footer" *ngIf="showButton">
                <a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
              </div>
            </div>
            <!-- /PRICE ITEM -->
          </form>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <form #f="ngForm" ngNativeValidate>
            <!-- Monthly -->
            <div class="panel price panel-green">
              <div class="panel-heading arrow_box text-center">
                <h3>Monthly</h3>
              </div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{priceMonthly}} din</strong></p>
              </div>
              <div class="form-check">
                <input type="radio" id="materialGroupExample1" (click)="onCheckedRegularMonthly()" checked name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample1">Regular</label>
              </div>
              
              <!-- Group of material radios - option 2 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample2" (click)="onCheckedStudentMonthly()" [disabled]="isDisabledStudent()" name="groupOfMaterialRadios" >
                <label style="margin-left: 30px" for="materialGroupExample2">Student</label>
              </div>
              
              <!-- Group of material radios - option 3 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample3" (click)="onCheckedPensionerMonthly()" [disabled]="isDisabledPensioner()" name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample3">Pensioner</label>
              </div>
              <div class="panel-footer" *ngIf="showButton">
                <a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
              </div>
            </div>
            <!-- /PRICE ITEM -->
          </form>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <form #f="ngForm" ngNativeValidate>
            <!-- Yearly -->
            <div class="panel price panel-grey">
              <div class="panel-heading arrow_box text-center">
                <h3>Yearly</h3>
              </div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{priceYearly}} din</strong></p>
              </div>

              <div class="form-check">
                <input type="radio" id="materialGroupExample1" (click)="onCheckedRegularYearly()" checked name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample1">Regular</label>
              </div>
              
              <!-- Group of material radios - option 2 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample2" (click)="onCheckedStudentYearly()" [disabled]="isDisabledStudent()" name="groupOfMaterialRadios" >
                <label style="margin-left: 30px" for="materialGroupExample2">Student</label>
              </div>
              
              <!-- Group of material radios - option 3 -->
              <div class="form-check">
                <input type="radio" id="materialGroupExample3" (click)="onCheckedPensionerYearly()" [disabled]="isDisabledPensioner()" name="groupOfMaterialRadios">
                <label style="margin-left: 30px" for="materialGroupExample3">Pensioner</label>
              </div>

              <div class="panel-footer" *ngIf="showButton">
                <a class="btn btn-lg btn-block btn-primary" href="#">BUY NOW!</a>
              </div>
            </div>
            <!-- /PRICE ITEM -->
          </form>
        </div>
      </div>
    </div>
  </div>
</form>