<br>
<div class="container" *ngFor="let user of unapprovedUsers">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div style="font-size: 16px;color:black;font-weight: bold" class="col-md-12 lead">User profile
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto; width: 150px; height: 150px" src="assets/icon.png">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="color: rgb(216, 29, 29)"class="only-bottom-margin">{{user.Name+" "+user.LastName}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size: 16px;color:black;font-weight: bold">Email:</span><i style="font-size: 16px;color:rgb(80, 74, 74);font-weight: bold"> {{user.Email}}</i><br>
                  <span style="font-size: 16px;color:black;font-weight: bold">Birth date:</span> <i style="font-size: 16px;color:rgb(80, 74, 74);font-weight: bold"> {{user.DateOfBirth}}</i><br>
                  <span style="font-size: 16px;color:black;font-weight: bold">Active:</span><i style="font-size: 16px;color:rgb(80, 74, 74);font-weight: bold">{{user.Active}}</i><br>
                  <span style="font-size: 16px;color:black;font-weight: bold">User type:</span> <i style="font-size: 16px;color:rgb(80, 74, 74);font-weight: bold">{{user.Type}}</i>
                </div>
              
                  <div class="">
                    <img  style="
                    width: 150px; height: 150px;margin-top: 1px" src="{{user.ImageUrl}}">
                  </div>
                  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr><button style="margin-left: 280px;font-weight: bold;color:green;font-size:12px" (click)="approveUser(user)" class="btn btn-default "><i
                  class="glyphicon glyphicon-pencil" ></i> Approve </button>
              <button style="margin-left: 100px;font-weight: bold;color:red;font-size:12px" (click)="refuseUser(user)" class="btn btn-default "><i class="glyphicon glyphicon-pencil"></i>Refuse </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>