<div style="background-color: rgb(187, 184, 184); opacity: 0.8; margin-top: 10px; margin-left: 0px">
  <form>
    <input type="radio" value="false" name="line" value="City lines" style="margin-left: 510px;"
      (click)=onCheckedCityLines() /><span style="font-size: 20px; color: rgb(250, 12, 12); font-weight: bold">
      City line</span>
    <input type="radio" value="false" name="line" value="Suburban lines" style="margin-left: 50px"
      (click)=onCheckedSuburbanLines()><span style="font-size: 20px; color:rgb(250, 12, 12); font-weight: bold">
      Suburban lines</span>
  </form>

  <ul class="list-group" *ngIf="showDivDay">
    <li class="list-group-item" style="margin-left: 300px; margin-right: 300px">
      <div *ngFor="let d of days" class="inline"
        style="padding-right: 217px; background-color: rgb(187, 184, 184); opacity: 0.8; margin-top: 10px; margin-left: 0px">
        <input type="radio" [(ngModel)]="radioSelectedDay" name="lineDay" value="{{d}}" (change)="onItemChange3()" />
        <span style="font-size: 15px; color: rgb(73, 71, 71); font-weight: bold">{{d}}</span>
      </div>
    </li>
  </ul>
  <ul class="list-group" *ngIf="showDivCityLines">
    <table>
      <tr>
        <td *ngFor="let line of subORcityLines">
          <input type="radio" [(ngModel)]="radioSelected" name="lineCity" value="{{line}}"
            (change)="onItemChange1(line)" unchecked />
          <span style="padding-right: 15px; font-size: 15px; color: rgb(73, 71, 71); font-weight: bold">{{line}}</span>
        </td>
      </tr>
    </table>
  </ul>

  <ul class="list-group" *ngIf="showDivSuburbanLines">
    <table>
      <tr>
        <td *ngFor="let line of subORcityLines">
          <input type="radio" [(ngModel)]="radioSelected" name="lineCity" value="{{line}}"
            (change)="onItemChange1(line)" unchecked />
          <span style="padding-right: 15px; font-size: 15px; color: rgb(73, 71, 71); font-weight: bold">{{line}}</span>
        </td>
      </tr>
    </table>
  </ul>
  <br clear="all">
  <div name="divTimes" *ngIf="showdivTimes">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="font-size: 20px; color: rgb(250, 12, 12); " scope="col">Times:
            <!-- <div *ngIf="showEditAdmin">  -->
            <div *ngIf="allowAdmin">
              <button mdbBtn type="button" color="danger" rounded="true" outline="true" mdbWavesEffect
                (click)="Delete()">Delete</button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of TT">
          <td>{{t}}</td>
          <td>
            <div *ngIf="allowAdmin">
              <!-- <div *ngIf="showEditAdmin"> -->
              <button class="button_transparent" (click)="Edit(t)"> EDIT </button>
            </div>
          </td>
        </tr>
        <th>
          <div *ngIf="showDivEditTime">
            <input [(ngModel)]="newValueTT" value="{{selectedTime}}">
            <div>
              <button class="button_transparent" (click)="Edit2()"> edit </button>
              <button class="button_transparent" (click)="Close()"> close </button>
            </div>
          </div>
        </th>
      </tbody>
    </table>
    <!-- x   -->
  </div>
</div>