<div class="wrapper fadeInDown" style="margin-top: 100px">
    <div id="formContent">
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/Registration">Don't have an account?</a>
      </div> 
    </div>
  </div>