/* You can add global styles to this file, and also import other style files */

body{    
    background-image: url('/assets/bus2.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-size: cover;
    max-width: 100%; 
    height: auto; 
  }